div.emd-container{
position:relative;
font-size:16px;
color:#32373c;
width:100%;
}
.emd-dropdown-wrap div:not([class*="photo"]):not([class*="emd-thumb"]):not([class*="featured-img"]){
padding:0 7px;
}
.segment-block.title{font-weight:500}
:focus {outline:none !important;}
::-moz-focus-inner {border:0 !important;}
/* single_employee */
div.emp-content { padding:10px; }a.facebook { color: rgb(59, 90, 154) !important; } a.twitter { color: rgb(45, 168, 225) !important; } a.github { color: rgb(51, 51, 51) !important; } a.google-plus { color: rgb(244, 94, 75) !important; } a.linkedin { color: rgb(1, 116, 179) !important; }.text-danger{color:red}.text-center{text-align:center}.person-link i.fa, .person-link a{font-size: 16px;text-decoration: none;}img.emd-img{border-radius:50%; height: 150px; width: 150px;}.cflabel,.ed-label{padding-right:2px;font-weight:600;}.person-address p,.emp-content div{margin-bottom: 1.5rem;}.social-links{justify-content: flex-end;}
